body{
    background-color: #f7f7f7;
    font-family: arial;
}
header{
    text-align: center;
    background:#ffe868;
    padding: 10px;
    font-size: 20px;
    word-spacing: 250px;
    border-width:5px;  
    border-style:ridge;
}
h1{
  text-align:center;
  background:#ffe868;
  border-width:5px;  
    border-style:ridge;
}
/* carousel */
.carousel{
    position: relative;
    
}
.carousel__item {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display:none;
    
} 
.carousel__item--selected{
    display: block;
}
.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position:absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(235, 4, 4, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel__button--selected{
    background: rgba(235, 4, 4, 0.5);
}
/* navigation */
ul.nav {
    padding-left: 0px;
    background-color: #ffe868;
    text-align: center;
    border-width:5px;  
    border-style:ridge;
  }
  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }
  ul.nav a{
    margin: 100px;
  }
  ul.nav > li:hover {
    background:#ffe868;
  }
  ul.nav > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .list{
    border-width:5px;  
    border-style:ridge;
    width: 180px;
    background:#ffe868;
    float:left;
  }

p{
    padding: 10px;
    border-width:5px;  
    border-style:ridge;
    background:#ffe868;
    border-width:5px;  
    border-style:ridge;
  }
.map{
  text-align:center;
  border-width:5px;  
  border-style:ridge;
  width:400px;
  height:300;
}
.product{
  text-align:center;
  list-style: none;
}
.first{
  background-image:url("img_map/trimmeri.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  
}
.second{
  background-image:url("img_map/traktors.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
}
.third{
  background-image:url("img_map/zalesplaveji.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
}
.fourth{
  background-image:url("img_map/zagis.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
}
.fifth{
  background-image:url("img_map/freze.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
}
.sixth{
  background-image:url("img_map/skeres.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
}

ul.product > li > a {
  color: rgb(0, 0, 0);
}
.trim1{
  background-image:url("img_map/trimmeri.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}
.trakt1{
  background-image:url("img_map/traktors.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}
.plavejs1{
  background-image:url("img_map/zalesplaveji.jpg");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}
.zagis1{
  background-image:url("img_map/zagis.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}
.freze1{
  background-image:url("img_map/freze.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}
.skere1{
  background-image:url("img_map/skeres.png");
  background-size: 470px 270px;
  border-width:5px;  
  border-style:ridge;
  width:470px;
  height:270px;
  float:left;
  text-align:center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}