
 body{
    background-color: #DCDCDC;
}

 .navbar{
    height:50px;
}
.carousel{
    padding: 20rem;
}
.container {
    padding: 10rem;
}
.column {
    border-style: solid;
    border-color: grey;
}
.menu-list .lu {
    border-style: solid;
    border-color: grey;
}
 .map{
    border-style: solid;
    border-color: grey;
    width: 607px;
    height: 456px;
    display: flex;
    justify-content: center;
 }
 .mapText{
    display: flex;
    justify-content: center;
 }
